<!doctype html>

<head>
    <title>Lance | Admin Event Management</title>
    <%= include ../partials/header.ejs %>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>

<body>
<%= include sidebar.ejs %>
                    <div class="tab-content">
                            <h3>Event Settings</h3>
                            <p>Create new and edit events here.</p>
                            <p>Total Events: <%=eventList.length%></p>
                            <button type="button" data-toggle="modal" data-target="#eventModal" data-id="New Event" class="btn btn-default button" style="align:right;">New Event</button><br><br>
                

<% for(var i=0; i < eventList.length; i++) { %>
 <a data-toggle="modal" href="#eventModal" 
data-id="<%=eventList[i]._id%>" 
data-name="<%=eventList[i].name%>"
data-host="<%=eventList[i].host%>" 
data-date="<%=eventList[i].date%>"
data-locked="<%=eventList[i].locked%>" 
data-location="<%=eventList[i].location%>" 
data-info="<%=eventList[i].info%>"
data-image="<%=eventList[i].image%>" 
data-maxteams="<%=eventList[i].maxTeams%>"
data-maxteamsize="<%=eventList[i].maxTeamSize%>" 
data-reqKey="<%=eventList[i].reqkey%>"
data-reqKey="<%=eventList[i].reqpass%>" 
data-rules="<%=eventList[i].rules%>" 
  ><div class="info-list">
  <div class="info extended"><div class="field"><%= eventList[i].name %></div><div class="select">
  <span><%= eventList[i].location %></span><span><%= eventList[i].host %></span><span><%= eventList[i].date %></span></div></div></a> 
    <% } %>
</div>
</div>

</body>



<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="eventModalLabel">Edit Event </h4>
      </div>

      <div class="modal-body">
        <div class="row">
            <!-- PROFILE INFORMATION -->
            <div class="col-sm-12">
              <div class="profile-info">
          <form method="post" action="/updateevent" name="adminuser-form" id="adminuser-form">
          <div class="info extended"><div class="field">ID </div><input class="id readonly" name="id" type="text" autocomplete="off" readonly></div>
          <div class="info extended"><div class="field">Name </div><input class="name" name="name" type="text" autocomplete="off" placeholder="Required" required="true" ></div>
          <div class="info extended"><div class="field">Location </div><input class="location" name="location" type="text" autocomplete="off" placeholder="Required" required="true" ></div>
          <div class="info extended"><div class="field">Info </div><input class="info" name="info" type="text" autocomplete="off" placeholder="Required" required="true" ></div> 
          <hr>
          <div class="info extended"><div class="field">Image Link </div><input class="image" name="image" type="text" autocomplete="off" ></div>
          <div class="info extended"><div class="field">Host </div><input class="host" name="host" type="text" autocomplete="off" placeholder="Required" required="true"></div>
          <div class="info extended"><div class="field">Delete</div><input class="delconf" name="delconf" type="text" autocomplete="off" placeholder="Paste Event ID Here to Confirm"></div>
          <hr>
          <div class="info extended"><div class="field">Date</div><input class="date" name="date" type="text" autocomplete="off" ></div>
          <div class="info extended"><div class="field">Locked</div>
          <select id="locked" name="locked">
          <option value="false">false</option>
          <option value="true">true</option>
          </select>
                    </div>
                <div class="info extended"><div class="field">Password Protect Teams</div>
          <select id="reqpass" name="reqpass">
          <option value="false">false</option>
          <option value="true">true</option>
          </select>
                </div>
          <hr>
          <div class="info extended"><div class="field">Max Teams </div><input class="maxteams" name="maxteams" type="number" autocomplete="off" placeholder="Required" required="true"></div>
          <div class="info extended"><div class="field">Max Teamsize </div><input class="maxteamsize" name="maxteamsize" type="number" autocomplete="off" placeholder="Required" required="true"></div>
          <div class="info extended"><div class="field">Required Key </div><input class="reqkey" name="reqkey" type="text" autocomplete="off" ></div>
          <div class="info extended"><div class="field">Rules </div><input class="rules" name="rules" type="text" autocomplete="off" ></div>
           </div>       
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <a class="roster" name="roster" href="/rosteredit/">Edit Roster</a>
        <button class="btn btn-danger update-submit button">Update</button>
        </form>
        
      </div>
      
    </div>
  </div>
</div>

<script type="text/javascript">
$('#eventModal').on('show.bs.modal', function (event) {
var button = $(event.relatedTarget); 
var name = button.data('name');
var id = button.data('id');
var host = button.data('host');
var date = button.data('date');
var locked = button.data('locked');
var location = button.data('location');
var info = button.data('info');
var image = button.data('image');
var maxteams = button.data('maxteams');
var maxteamsize = button.data('maxteamsize');
var reqkey = button.data('reqkey');
var reqpass = button.data('reqpass');
var rules = button.data('rules');


  var modal = $(this);
  if (id == "New Event"){  
    modal.find('.modal-title').text('New Event');
    modal.find('.delconf').prop("readonly",true);
    modal.find('.delconf').val("");
    modal.find('.date').val(Date());
  }
  else {  
    modal.find('.modal-title').text('Edit Event - ' + name);
    modal.find('.delconf').prop("readonly",false);

    modal.find('.date').val(date);
  }
  if (locked == true){$("#locked").val("true");}else{$("#locked").val("false");}
  if (reqpass == true){$("#reqpass").val("true");}else{$("#reqpass").val("false");}
  modal.find('.name').val(name);
  modal.find('.id').val(id);
  modal.find('.host').val(host);
  modal.find('.location').val(location);
  modal.find('.info').val(info);
  modal.find('.image').val(image);
  modal.find('.maxteams').val(maxteams);
  modal.find('.maxteamsize').val(maxteamsize);
  modal.find('.reqkey').val(reqkey);
  modal.find('.rules').val(rules);
  modal.find('.roster').attr("href", "/rosteredit/"+id);
})

</script>

<%= include ../partials/footer.ejs %>

    </html>