<!doctype html>

<head>
    <title>Lance | Admin Panel</title>
    <%= include ../partials/header.ejs %>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>
<body>
<%= include sidebar.ejs %>
                    <div class="tab-content">
               
                            <h3>General Settings</h3>
                           
                            <h4>ID:<%= user._id %></h4>
                            <h4>Character ID:<%= user.CharacterID %></h4>
                            <h4>Character Name:<%= user.CharacterName %></h4>
                            <h4>Access Token:<%= user.accessToken %></h4>


                            <div class="info-list">
                            <form method="post" action="/newnotification" name="notification-form" id="notification-form">
          					<div class="info extended"><div class="field">Notification </div><input class="text" name="text" type="text" autocomplete="off"></div>
          					<br>
          					<button class="btn btn-danger update-submit button">Push New Notification</button>
          					</form>
          					</div>


                    </div>
            
</body>
<%= include ../partials/footer.ejs %>

    </html>