<!doctype html>

<head>
    <title>Eve Corporation Manager | Administrative</title>
    <%= include /partials/header.ejs %>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>
<body>
<%= include /partials/sidebar.ejs %>
                    <div class="tab-content">
                                     <h3>Registered Corporation Users List</h3>
                           <hr><br>




       
<% for(var i=0; i < userList.length; i++) { %>
                <div class="info-list">

  <div class="info"><div class="field"><%= userList[i].CharacterName %></div><div class="select">
  <span><%= userList[i].CharacterRole %>(L<%= userList[i].CharacterRoleLevel %>)</span><span><%= userList[i]._id %></span></div></div></a> 
    <% } %>
</div>

                   



                       
                      
<br>
                    </div>
            <br>
</body>
<%= include /partials/footer.ejs %>

    </html>