<!doctype html>

<head>
    <title>Eve Corporation Manager | Dashboard</title>
    <%= include /partials/header.ejs %>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>
<body>
<%= include /partials/sidebar.ejs %>
                    <div class="tab-content">
                      <img src="https://image.eveonline.com/Corporation/<%= corp.CorporationID %>_256.png">
                      <h3><%= corp.CorporationName %></h3>
                      <br>

<!-- <pre>
TODO:
buy/sell/request
shipping
fleets
help/forum with points for answered q's
calculators
</pre>
  
 -->


    <h3>Announcements [<%= corp.Announcements.length %>]</h3>
    <br>
    <% for(var i=0; i < corp.Announcements.length; i++) { %>
    <div class="well">
      <div class="post-header">
        <h4 class="charcoal"><%= corp.Announcements[i].Title %></h4>
        <h5><%= corp.Announcements[i].Time %></h5>
      </div>
      <div class="post-body"><div>
        <%= corp.Announcements[i].Body %>
        </div>
      </div>
      <div class="post-footer">
        <h5><%= corp.Announcements[i].Author %></h5>
        <h5><%= corp.Announcements[i]._id %></h5>
        <h5 class="controls">
        <% if (user.CharacterRoleLevel >= 4) { %>
          <a href="/deleteannouncement/<%= corp.Announcements[i]._id %>">Delete</a><% } %>
        </h5>
      </div>
    </div>
    <% } %>
    <hr>
                           <h3>New Announcement</h3>
                          <form method="post" action="/newannouncement" name="announcement-form" id="announcement-form">
                    <div class="info extended"><div class="field">Title</div><input class="title" name="title" type="text" autocomplete="off" value="Some Title"></div>
                    <div class="info extended"><div class="field">Body</div><input class="body" name="body" type="text" autocomplete="off" value="Some Body"></div>
                    <input class="author" name="author" type="text" autocomplete="off" value="<%= user._id %>" hidden>
                    <br>
                    <button class="btn btn-danger update-submit button">Push New Announcement</button>
                    </form>
                      <br>

                    </div>
            
</body>
<%= include /partials/footer.ejs %>

    </html>
