<!doctype html>

<head>
    <title>Eve Corporation Manager | Dashboard</title>
    <%= include /partials/header.ejs %>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>
<body>
<%= include /partials/sidebar.ejs %>
                    <div class="tab-content">
                      <img src="https://image.eveonline.com/Corporation/<%= corp.CorporationID %>_256.png">
                      <h3><%= corp.CorporationName %></h3>
                      <br>
<br>Wiki's: <%= corp.Wikis.length %>
<br>Announcements's: <%= corp.Announcements.length %>
<br>Pings's: <%= corp.Pings.length %>
<br>Doctrines's: <%= corp.Doctrines.length %>
<br>items: <%= items.length %>
 



<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js"></script>
<script src="//jquery-csv.googlecode.com/files/jquery.csv-0.71.js"></script>

<code>
TODO:
buy/sell/request
shipping
fleets
help/forum with points for answered q's

</code>
<div class="container">

  <div class="form-group">
    <label>Item Search</label>
    <input class="form-control autocomplete" placeholder="Enter A" />
  </div>


</div>
                    </div>
            
</body>
<%= include /partials/footer.ejs %>

    </html>
        <script type="text/javascript">
$(function() {

  var availableTags = ("<%= data %>").split(",");
  
  $(".autocomplete").autocomplete({
    source: availableTags
  });
});

    </script>
    <style type="text/css">

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
  padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
  background-color: #DDD;
}
.ui-helper-hidden-accessible {
  display: none;
}

    </style>