<!doctype html>

<head>
    <title>Eve Corporation Manager | Dashboard</title>
    <%= include /partials/header.ejs %>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>
<body>
<%= include /partials/sidebar.ejs %>
                    <div class="tab-content">
                      <img src="https://image.eveonline.com/Corporation/<%= corp.CorporationID %>_256.png">
                      <h3><%= corp.CorporationName %></h3>
                      <br>
<br>Wiki's: <%= corp.Wikis.length %>
<br>Announcements's: <%= corp.Announcements.length %>
<br>Pings's: <%= corp.Pings.length %>
<br>Doctrines's: <%= corp.Doctrines.length %>



                    </div>
            
</body>
<%= include /partials/footer.ejs %>

    </html>