<!doctype html>

<head>
    <title>Eve Corporation Manager | Doctrines</title>
    <%= include /partials/header.ejs %>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>
<body>
<%= include /partials/sidebar.ejs %>
                    <div class="tab-content">
                      <h3>Doctrines [<%= corp.Doctrines.length %>]</h3>
                           <br>
                           <% for(var i=0; i < corp.Doctrines.length; i++) { %>
<div class="well" >
      <div class="post-header">
        <h4 class="charcoal"><%= corp.Doctrines[i].Title %></h4>
        <h5><%= corp.Doctrines[i].Time %></h5>
      </div>
  <img src="https://image.eveonline.com/Type/<%= corp.Doctrines[i].ShipID %>_64.png"><br>
                  <code class="red"><%= corp.Doctrines[i].About %></code>
                  <pre class="red"><%= corp.Doctrines[i].Body %></pre>
                  <h6 class="red"><%= corp.Doctrines[i].ShipID %></h6>
                  <h6 class="red"><%= corp.Doctrines[i]._id %></h6>
<div class="post-footer">
        <h5><%= corp.Doctrines[i]._id %></h5>
        <h5 class="controls">
        <% if (user.CharacterRoleLevel >= 4) { %>
          <a href="/deleteannouncement/<%= corp.Doctrines[i]._id %>">Delete</a><% } %>
        </h5>
      </div>
</div>
    <% } %>
      <hr>
                           
                           <h3>New Doctrine</h3>
                          <form method="post" action="/newdoctrine" name="doctrine-form" id="doctrine-form">
                    <div class="info extended"><div class="field">Title</div><input class="title" name="title" type="text" autocomplete="off" value="Some Title"></div>
                    <div class="info extended"><div class="field">About</div><input class="about" name="about" type="text" autocomplete="off" value="Some About"></div>
                    <div class="info extended"><div class="field">Ship ID</div><input class="shipid" name="shipid" type="text" autocomplete="off" value="29986"></div>
                    <a href="http://eve-files.com/chribba/typeid.txt">Ship ID List</a>
                    <input class="author" name="author" type="text" autocomplete="off" value="<%= user._id %>" hidden>
                    <div class="info extended"><div class="field">Body</div><textarea rows="4" cols="150" class="body" name="body" type="text" autocomplete="off">Some Doctrine</textarea>

                    <br>
                    <button class="btn btn-danger update-submit button">Push New Doctrine</button>
                    </form>      
</body>
<%= include /partials/footer.ejs %>

    </html>