<!doctype html>

<head>
    <title>Eve Corporation Manager | Doctrines</title>
    <%= include /partials/header.ejs %>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>
<body>
<%= include /partials/sidebar.ejs %>
                    <div class="tab-content">
                      <h3>Doctrines [<%= corp.Doctrines.length %>]</h3>
                           <br>
                           <% for(var i=0; i < corp.Doctrines.length; i++) { %>
<div class="well" >
      <div class="post-header">
        <h4 class="charcoal"><%= corp.Doctrines[i].Title %></h4>
        <h5><%= corp.Doctrines[i].Time %></h5>
      </div>
  <img src="https://image.eveonline.com/Type/<%= corp.Doctrines[i].ShipID %>_64.png"><br>
                  <code class="red"><%= corp.Doctrines[i].About %></code>
                  <pre class="red"><%= corp.Doctrines[i].Body %></pre>
                  <h6 class="red"><%= corp.Doctrines[i].ShipID %></h6>
                  <h6 class="red"><%= corp.Doctrines[i]._id %></h6>
<div class="post-footer">
        <h5><%= corp.Doctrines[i]._id %></h5>
        <h5 class="controls">
        <% if (user.CharacterRoleLevel >= 4) { %>
          <a href="/deleteannouncement/<%= corp.Doctrines[i]._id %>">Delete</a><% } %>
        </h5>
      </div>
</div>


    <% } %>
            
</body>
<%= include /partials/footer.ejs %>

    </html>