<!doctype html>

<head>
  <title>Eve Corporation Manager | Forum</title>
  <%= include /partials/header.ejs %>
  <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>
<body>
  <%= include /partials/sidebar.ejs %>
  <div class="tab-content">
    Title <%= post.Title%><br>
    Answers: Title <%= post.Answers.length%>
  
</div>
</body>
<%= include /partials/footer.ejs %>

</html>