<!doctype html>

<head>
    <title>Eve Corporation Manager | Timers</title>
    <%= include /partials/header.ejs %>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
</head>
<body>
<%= include /partials/sidebar.ejs %>
                    <div class="tab-content">
                            <h3>Timers</h3>
                           <br>

    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Eve Time</th>
                <th>Countdown</th>
                <th>Comment</th>
                 <th>Author</th> 
<% if (user.CharacterRoleLevel >= 4) { %>
<th>Delete</th> 
               <% } %>   
            </tr>
        </thead>

        <tbody>
<% for(var i=0; i < corp.Timers.length; i++) { %>
 <tr>
                <td><%= corp.Timers[i].Location %></td>
                <td><%= corp.Timers[i].EveTime %></td>
                <td><%= corp.Timers[i].EveTime %>**</td>
                <td><%= corp.Timers[i].Comment %></td>
                <td><%= corp.Timers[i].Author %></td>
                 <% if (user.CharacterRoleLevel >= 4) { %>
                  <td><a href="/deletetimer/<%= corp.Timers[i]._id %>">Delete</a></td>
                  <% } %>

            </tr>
<% } %>
        </tbody>
    </table>

                      



        <hr>
                          
                                                   <h3>New Timer</h3>
                          <form method="post" action="/newtimer" name="timer-form" id="timer-form">
                    <div class="info extended"><div class="field">Location</div><input class="location" name="location" type="text" autocomplete="off" value="Some Location"></div>
                    <div class="info extended"><div class="field">EveTime</div><input class="evetime" name="evetime" type="text" autocomplete="off" value="Some Time"></div>
                    <div class="info extended"><div class="field">Comment</div><input class="comment" name="comment" type="text" autocomplete="off" value="Some Comments"></div>
                    <input class="author" name="author" type="text" autocomplete="off" value="<%= user._id %>" hidden>
                    <br>
                    <button class="btn btn-danger update-submit button">Push New Timer</button>
                    </form>
                      <br>




                    </div>
            
</body>
<%= include /partials/footer.ejs %>

    </html>